@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@layer utilities {
  @keyframes upDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(4px);
    }
  }
  .animate-upDown {
    animation: upDown 3s ease-in-out infinite;
  }
}

html {
  background-color: #F4F4F4;
}